import React from 'react'
import './{{componentName}}.scss'

export default class {{ componentName }} extends React.Component {
  render () {
    return (
      <div className='{{camelCase componentName}}'>
      </div>
    )
  }
}
